.layout-content{
	height: 100vh;
}

.layout-content-over{
	overflow-y: scroll;
	overflow-x: hidden;
	padding: 20px;
	box-sizing: border-box;
}
/* 自定义滚动条 */
.layout-content-over::-webkit-scrollbar {
	width: 12px;
}
.layout-content-over::-webkit-scrollbar-track {
	background-image: repeating-linear-gradient(45deg, green 0, green 1px, transparent 0, transparent 50%);
	background-size: 10px 10px;
}
.layout-content-over::-webkit-scrollbar-thumb {
	background: transparent;
	border-radius: 5px;
	border: 2px solid #73caec;
	box-shadow: inset 1px 1px 5px #73caec;
}


.ant-layout-sider-trigger {
	height: 42px !important;
}

/* 头部 */
.layout-header-content{
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-align: right;
	height: 48px;
	padding: 0 40px;
	overflow: hidden;
	box-sizing: border-box;
	background-color: #ddd;
}

/* 底部 */
.layout-header,
.layout-footer{
	padding: 0 !important;
	text-align: center;
}

.layout-footer-content{
	height: 42px;
	color: #555;
	font-weight: 600;
	box-sizing: border-box;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	background-color: lightgrey;
}
.layout-footer-content p{
	padding: 0;
	margin: 0;
	line-height: 20px;
}

.layout-footer-contact{
	font-size: 12px;
}

.hidden-scroll::-webkit-scrollbar {
	display: none; /* Chrome Safari */
}

/* 加载中 */
.loading{
	height: 400px;
	display: flex;
	justify-content: center;
	align-items: center;
}
